* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.3)), url(img/background-image.jpeg) no-repeat center ;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.header-content {
    margin-bottom: 150px;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin: 50px 0 30px;
}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: white;
}

